<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRIIFRS</title>
</head>

<body>

    <nav>
        <ul>
            <li class="active"><a href="/index">CRIIFRS</a></li>
            <li class="active"><a href="/evento">Eventos</a></li>
            <li class="active"><a href="/cargos">Cargos</a></li>
            <li class="active"><a href="/comites">Comites</a></li>
            <li class="active"><a href="/escolas">Escolas</a></li>
            <li class="active"><a href="/alunos">Alunos</a></li>
            <li class="active"><a href="/membros">Membros</a></li>
            <li class="active"><a href="/orgaos">Órgãos</a></li>
        </ul>
    </nav>

    <hr>
    <br>
</body>

</html>