<div id="back-to-top" data-spy="affix" data-offset-top="10" class="back-to-top position-fixed">
    <button class="btn btn-primary" title="Back to Top">
      <i class="fa fa-angle-double-up"></i>
    </button>
  </div>

  <footer id="footer" class="footer bg-overlay">
    <div class="footer-main">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-lg-4 col-md-6 footer-widget footer-about">
            <h3 class="widget-title">Sobre nós</h3>
            <img loading="lazy" width="200px" class="footer-logo" src="../images/footer-logo.png" alt="Constra">
            <p style="text-align:justify; font-size: 16px;">
              Sinta-se a vontade para nos acompanhar em nossas redes sociais e mandar sugestões ou
              perguntas através dos nosso canais de comunicção!
            </p>

            <div class="footer-social">
              <ul>
                <li><a href="https://twitter.com/mifres_criifrs" aria-label="Twitter"><i
                      class="fab fa-twitter"></i></a></li>
                <li><a href="https://instagram.com/criifrs" aria-label="Instagram"><i
                      class="fab fa-instagram"></i></a></li>
                <li><a href="mailto:criif@restinga.ifrs.edu.br" aria-label="email"><i
                      class="fa-solid fa-envelope"></i></a></li>
              </ul>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 footer-widget mt-5 mt-md-0">
            <h3 class="widget-title">Recrutagem</h3>
            <div class="recrutagem">
              <p style="text-align:justify;font-size:16px">
                A recrutagem do clube é realizada durante os Treinamentos Internos Básicos (TIB), esses que ocorrem
                mensalmente.
              </p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0 footer-widget">
            <h3 class="widget-title">+ Informações</h3>
            <ul class="list-arrow">
              <li><a href="/index">Retornar</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- initialize jQuery Library -->
  <script src="../plugins/jQuery/jquery.min.js"></script>

  <!-- Bootstrap jQuery -->
  <script src="../plugins/bootstrap/bootstrap.min.js" defer></script>

  <!-- Slick Carousel -->
  <script src="../plugins/slick/slick.min.js"></script>
  <script src="../plugins/slick/slick-animation.min.js"></script>

  <!-- Color box -->
  <script src="../plugins/colorbox/jquery.colorbox.js"></script>

  <!-- shuffle -->
  <script src="../plugins/shuffle/shuffle.min.js" defer></script>

  <!-- Google Map API Key-->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU" defer></script>
  <!-- Google Map Plugin-->
  <script src="../plugins/google-map/map.js" defer></script>

  <!-- Template custom -->
  <script src="../JS/script.js"></script>

</div><!-- Body inner end -->
</body>

</html>