<section id="comites-area" class="comites-area solid-bg">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-12">
        <h2 class="section-title">Últimos</h2>
        <h3 class="section-sub-title">Comitês</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="shuffle-btn-group">
          <label class="active" for="all">
            <input type="radio" name="shuffle-filter" id="all" value="all" checked="checked">Todos
          </label>

          <label for="gabinete">
            <input type="radio" name="shuffle-filter" id="gabinete" value="gabinete">Gabinete
          </label>

          <label for="cdh">
            <input type="radio" name="shuffle-filter" id="cdh" value="cdh">CDH
          </label>

          <label for="acnur">
            <input type="radio" name="shuffle-filter" id="acnur" value="acnur">ACNUR
          </label>

          <label for="csnu">
            <input type="radio" name="shuffle-filter" id="csnu" value="csnu">CSNU
          </label>

          <label for="residential">
            <input type="radio" name="shuffle-filter" id="oea" value="oea">OEA
          </label>

          <label for="healthcare">
            <input type="radio" name="shuffle-filter" id="ac" value="ac">AC
          </label>
        </div>

        <div class="row shuffle-wrapper">
          <div class="col-1 shuffle-sizer"></div>

          <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;gabinete&quot;">
            <div class="comites-img-container">
              <a class="gallery-popup" href="../images/comites/project1.jpg" aria-label="comites-img">
                <img class="img-fluid" src="../images/comites/project1.jpg" alt="comites-img">
                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
              </a>

              <div class="comites-item-info">
                <div class="comites-item-info-content">
                  <h3 class="comites-item-title">
                    <a href="comites-single.html">Gabinetes</a>
                  </h3>
                  <p class="comites-cat">Históricos</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;cdh&quot;]">
            <div class="comites-img-container">
              <a class="gallery-popup" href="../images/comites/project2.jpg" aria-label="comites-img">
                <img class="img-fluid" src="../images/comites/project2.jpg" alt="comites-img">
                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
              </a>

              <div class="comites-item-info">
                <div class="comites-item-info-content">
                  <h3 class="comites-item-title">
                    <a href="comites-single.html">Conselho de Direitos Humanos</a>
                  </h3>
                  <p class="comites-cat">Human Rights</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;acnur&quot;]">
            <div class="comites-img-container">
              <a class="gallery-popup" href="../images/comites/project3.jpg" aria-label="comites-img">
                <img class="img-fluid" src="../images/comites/project3.jpg" alt="comites-img">
                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
              </a>

              <div class="comites-item-info">
                <div class="comites-item-info-content">
                  <h3 class="comites-item-title">
                    <a href="comites-single.html">Alto Comissário das Nações Unidas para Refugiados</a>
                  </h3>
                  <p class="comites-cat">ACNUR</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;csnu&quot;]">
            <div class="comites-img-container">
              <a class="gallery-popup" href="../images/comites/project4.jpg" aria-label="comites-img">
                <img class="img-fluid" src="../images/comites/project4.jpg" alt="comites-img">
                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
              </a>

              <div class="comites-item-info">
                <div class="comites-item-info-content">
                  <h3 class="comites-item-title">
                    <a href="comites-single.html">Conselho de Seguranças das Nações Unidas</a>
                  </h3>
                  <p class="comites-cat">Security Council</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;oea&quot;]">
            <div class="comites-img-container">
              <a class="gallery-popup" href="../images/comites/project5.jpg" aria-label="comites-img">
                <img class="img-fluid" src="../images/comites/project5.jpg" alt="comites-img">
                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
              </a>

              <div class="comites-item-info">
                <div class="comites-item-info-content">
                  <h3 class="comites-item-title">
                    <a href="comites-single.html">Organização dos Estados Americanos</a>
                  </h3>
                  <p class="comites-cat">OEA</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;ac&quot;]">
            <div class="comites-img-container">
              <a class="gallery-popup" href="../images/comites/project6.jpg" aria-label="comites-img">
                <img class="img-fluid" src="../images/comites/project6.jpg" alt="comites-img">
                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
              </a>

              <div class="comites-item-info">
                <div class="comites-item-info-content">
                  <h3 class="comites-item-title">
                    <a href="comites-single.html">Agência de Comunicação</a>
                  </h3>
                  <p class="comites-cat">COMs</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="general-btn text-center">
          <a class="btn btn-primary" href="projects.html">View All Projects</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="telaComites">
  <h2>Registre aqui as informações do comitê:</h2>
  <hr><br>

  <form action="/salvarComites" method="post">

    <label for="delegacoes">Delegações:</label><br>
    <input type="textarea" name="delegacoes" id="delegacoes" size="30"><br><br>

    <label for="tema">Tema:</label><br>
    <input type="text" name="tema" id="tema" size="20"><br><br>

    <label for="mesas">Mesa diretor(a):</label><br>
    <input type="text" name="mesa" id="mesa" size="20"><br><br>

    <select id="SelecionarCOMITE">
      <option value="#">Selecione o seu comitê:</option>
      <option value="1">CDH</option>
      <option value="2">CDUDH</option>
      <option value="3">CSNU</option>
      <option value="4">OEA</option>
      <option value="5">OMS</option>
      <option value="6">AC</option>
      <option value="7">Gabinete</option>
    </select>

    <input type="submit" name="salvar" value="Salvar">
    <input type="reset" name="limpar" value="Limpar">
  </form>

  <footer id="footer" class="footer bg-overlay">
    <div class="footer-main">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-lg-4 col-md-6 footer-widget footer-about">
            <h3 class="widget-title">Sobre nós</h3>
            <img loading="lazy" width="200px" class="footer-logo" src="../images/footer-logo.png" alt="Constra">
            <p style="text-align:justify; font-size: 16px;">
              Sinta-se a vontade para nos acompanhar em nossas redes sociais e mandar sugestões ou
              perguntas através dos nosso canais de comunicção!
            </p>

            <div class="footer-social">
              <ul>
                <li><a href="https://twitter.com/mifres_criifrs" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                </li>
                <li><a href="https://instagram.com/criifrs" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
                </li>
                <li><a href="mailto:criif@restinga.ifrs.edu.br" aria-label="email"><i
                      class="fa-solid fa-envelope"></i></a></li>
              </ul>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 footer-widget mt-5 mt-md-0">
            <h3 class="widget-title">Recrutagem</h3>
            <div class="recrutagem">
              <p style="text-align:justify;font-size:16px">
                A recrutagem do clube é realizada durante os Treinamentos Internos Básicos (TIB), esses que ocorrem
                mensalmente.
              </p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0 footer-widget">
            <h3 class="widget-title">+ Informações</h3>
            <ul class="list-arrow">
              <li><a href="/index">Retornar</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- initialize jQuery Library -->
  <script src="../plugins/jQuery/jquery.min.js"></script>

  <!-- Bootstrap jQuery -->
  <script src="../plugins/bootstrap/bootstrap.min.js" defer></script>

  <!-- Slick Carousel -->
  <script src="../plugins/slick/slick.min.js"></script>
  <script src="../plugins/slick/slick-animation.min.js"></script>

  <!-- Color box -->
  <script src="../plugins/colorbox/jquery.colorbox.js"></script>

  <!-- shuffle -->
  <script src="../plugins/shuffle/shuffle.min.js" defer></script>

  <!-- Google Map API Key-->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU" defer></script>
  <!-- Google Map Plugin-->
  <script src="../plugins/google-map/map.js" defer></script>

  <!-- Template custom -->
  <script src="../JS/script.js"></script>

  </div><!-- Body inner end -->
  </body>

  </html>